body {
    background-color: black;
}

.subscribe-btn {
    font-size: 28px;
    margin-left: 34px;
    padding: 10px;
    /* font-weight: 720; */
    font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    background-color: #1f80e0;


}

#fa{
    color:white;
}

#three {
    margin-left: 240px;
    border-radius: 10px;
    background-color: black;
    margin-top: 20px;
    color: #1f80e0;
    border: 5px solid #1f80e0;
    padding: 20px;
    font-size: 34px;
    font-weight: 500;
}




.firstdiv {
    display: flex;
    width: 200px;
    margin-top: 40px;

}





.menu {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 54px;

}








.but {
    margin-top: 13px;
}

.search-Icon {
    margin-top: 15px;
    margin-left: 220px;
    font-size: 40px;
}

.brand-logo {
    height: 100px;
    display: flex;
    /* margin-left:20px; */
    margin-left: 40px;
    font-weight: 700;



}

.second {
    background-color: rgb(38, 38, 38);
    border-radius: 2px;
    margin-top: 40px;

}


#first {
    height: 430px;
    width: 920px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;

}

#second {

    margin-top: 32px;
    margin-left: 30px;
    border-radius: 7px;
    margin-bottom: 25px;

}

#place {
    padding: 20px;
    margin-top: 10px;
    background-color: hwb(47 44% 4%);
    width: 100px;
    height: 80px;
    font-size: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
}

#one {
    font-weight: 800px;
    color: white;
    margin-left: 10px;
    font-size: 44px;
    width: 100px;
}

#movie {
    height: 450px;
    width: 935px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 60px;
}

#para1 {
    color: white;
    margin-left: 30px;
    font-weight: 600;
    margin-top: 40px;
    font-size: 44px;
}



.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    color: white;
}

#kin {
    height: 300px;
    width: 460px;
    margin-left: 30px;
    margin-top: 1px;
    border-radius: 10px;
}

#lin {
    height: 300px;
    width: 460px;
    margin-left: 10px;
    margin-top: 1px;
    border-radius: 10px;
}

#para2 {
    color: white;
    margin-left: 30px;
    font-weight: 600;
    margin-top: 40px;
    font-size: 48px;
}

#vmin {
    height: 400px;
    width: 300px;
    margin-top: 40px;
    border-radius: 10px;
}

#last {
    font-size: 54px;
    color: white;
    margin-left: 500px;
    margin-top: 40px;
    width: 4px;
}

#sub {
    margin-left: 240px;
    border-radius: 10px;
    background-color: black;
    margin-top: 20px;
    color: #1f80e0;
    border: 5px solid #1f80e0;
    padding: 20px;
    font-size: 34px;
    font-weight: 500;
}

#last1 {

    font-size: 54px;
    color: white;
    margin-left: 500px;
    margin-top: 40px;
    width: 4px;
}

#last2 {
    color: white;
    margin-left: 700px;
    margin-top: 40px;
    font-size: 54px;
    width: 40px;
}